@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento', serif;
}
.navlist{
    width: 100%;
    background: #252626;
    overflow: hidden;
    position: fixed;
    top: 0;
}
.navlist ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.navlist li{
    display: inline-block;
}
a{
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#home{
    height: 700px;
    background: #252626;
    display: inline-block;
    width: 100%;
}
#about{
    height: 700px;
    background: linear-gradient(#F53163 40%, #262525);
    display: inline-block;
    width: 100%;
    padding-left: 3rem;
}
#project{
    height: 700px;
    color: #F53163;
    background: linear-gradient(#262525 40%, #F53163);
    display: inline-block;
    width: 100%;
    padding-left: 3rem;
}
#contact{
    height: 300px;
    background: linear-gradient(#F53163 20%, #262525);
    display: inline-block;
    width: 100%;
    padding-left: 3rem;
}
.left-container,.right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.left-container{
    background: linear-gradient(-45deg,#262525 20%, #F53163);
    width: 70%;
    padding-left: 3rem;
}

.right-container{
    background: #262525;
    width: 30%;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.circle:nth-child(1){
    background:linear-gradient(110deg, transparent 50%, #262525 30%);
    width: 32rem;
}
.circle:nth-child(2){
    background-image: url("image/profile1.jpg");
    width: 24rem;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem #fff,0 0 1rem #F53163;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.icons .fa-brands{
    color: #fff;
    font-size: 1.5rem;
}
.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff, #F53163);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.b-container button{
    border: 0.05rem solid #F53163;
    font-size: 0.8rem;
    padding: 0.4rem 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: .5s ease;
}

button{
    background: #F53163;
    color: #262525;
    text-transform: uppercase;
}
button:hover{
    background: transparent;
    color: #F53163;
    cursor: pointer;
}
h1{
    padding: 5px;
}
p{
    font-size: 1.5rem;
    color: #fff;
    align-items: center;
    justify-content: center;
}
#project li{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 10px;
}
 #project img{
    width: 450px;
    height: 250px;
}
#project a{
    color: #F53163;
    font-size: 0.8rem;
}
#project p{
    gap: 5rem;
    font-size: 1rem;
}